.wp-block-cover {

    background-image: url(./assets/img/fondo-ruido.gif);

    > .wp-block-cover__inner-container {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }

    &.is-style-cover-contain-background { 
        .wp-block-cover__image-background {
            object-fit: contain;
        }
    }

    .wp-block-cover__background.has-background-dim.has-background-dim-90 {
        opacity: .96;
    }

    &.is-style-rombos-overlay {
        &:after {
            content: "";
            position: absolute;
            top: var(--wp--custom--layout--gap);
            left: 0;
            width: 100%;
            height: 50px;
            background-image: url(./assets/img/decoracion-rombos.svg);
            background-repeat: repeat-x;
            z-index: 1;
        }
    }

    &.smn-terms-card {
        position: relative;
        align-items: flex-end;

        .wp-block-cover__inner-container {
            position: initial;
        }

        .wp-block-cover__background {
            opacity: 1;
            background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%, var(--wp--preset--color--neutral-100) 100%);
        }

        .wp-block-cover__image-background {
            opacity: .96;
            transition: transform .5s ease-in-out;
        }

        &:hover {
            .wp-block-cover__image-background {
                transform: scale(1.05);
            }
        }

        .smn-terms-title {
            margin-bottom: var(--wp--preset--spacing--10);
        }

    }

}