@use '../abstracts/mixins' as *;

.wp-block-navigation {

    &.is-style-arrow-navigation {

        .wp-block-navigation-item__content {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            &::before {
                content: '';
                width: 16px;
                height: 16px;
                background-color: var(--wp--preset--color--secondary-30);
                mask-image: url(./assets/icons/icon-arrow-btn.svg);
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center;
                transition: transform 0.3s ease;
            }

            &:hover::before {
                transform: translateX(2px);
            }
        }
    }
}

.sfm-widget {
    margin-bottom: var(--wp--preset--spacing--30);

    &,
    a {
        color: var(--wp--preset--color--neutral-white);
        text-decoration: none;
    }

    .menu-item a {
        font-size: var(--wp--preset--font-size--small);
        display: block;
        padding: 0.25rem 0;
    }

}

.lwptoc.lwptoc {
    margin: 0;
    // width: 100vw;
    padding: var(--wp--preset--spacing--10) 0;

    .lwptoc_i {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        background: none;
    }

    // .lwptoc_itemWrap {
    //     display: flex;
    //     flex-wrap: wrap;
    //     align-items: center;
    //     justify-content: center;
    //     gap: var(--wp--preset--spacing--05) var(--wp--preset--spacing--05);
    // }

    &.lwptoc-light .lwptoc_i A {
        color: var(--wp--preset--color--link);
        font-weight: 500;
        padding: 2px var(--wp--preset--spacing--05);
        border-radius: 4px;
    }

    .lwptoc_item.is-active a {
        background-color: var(--wp--preset--color--primary-10);
        color: var(--wp--preset--color--neutral-white);
    }

}