@use '../abstracts/mixins' as *;

.wp-block-query {
    .wp-block-post {
        a {
            text-decoration: none;
            overflow: hidden;
            
            img.wp-post-image {    
                transition: transform 1s ease-in-out;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        .card-blog {
            position: relative;

            .taxonomy-category.wp-block-post-terms {
                position: absolute;
                top: 1rem;
                left: 1rem;
                padding: .25rem 0.5rem;
                border-radius: var(--wp--custom--border-radius--rounded);
                z-index: 1;
                background-color: var(--wp--preset--color--primary);

                
            }
        }

        .wp-block-post-excerpt__more-text {
            display: flex;
            margin-top: var(--wp--preset--spacing--20);
            
        }
    }

    .wp-block-cover {
        position: relative;
        align-items: flex-end;
        min-height: 330px;

        .wp-block-cover__backrground {
            background: linear-gradient(180deg, rgba(25, 27, 32, 0.00) 0%, #191B20 40%) !important;
        }

        @media ( $above-tablet ) {

            .wp-block-post-excerpt {
                transition: all .5s ease-in-out;
                position: absolute;
                bottom: -300px;
                max-height: 5rem;
                
            }

            .wp-block-cover__inner-container {
                padding-bottom: 0;
                transition: all 0.3s ease-in-out;
            }

            &:hover {

                .wp-block-cover__inner-container {
                    padding-bottom: 5rem;
                }

                .wp-block-post-excerpt {
                    bottom: 0;
                }

            }

        }
    }
}


.wp-block-categories-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    
    li.cat-item {
        a {
            text-decoration: none;
            background-color: inherit;
            border-radius: var(--wp--custom--border-radius--rounded);
            color: var(--wp--preset--color--neutral-white);
            padding: calc(0.5rem + 0px) 2rem;
            transition: all 0.2s ease-in-out;
            display: flex;
            height: 2.5rem;

            &:hover {
                background-color: var(--wp--preset--color--terciary-50);
                color: var(--wp--preset--color--neutral-white);
            }
        }
    }
}


.is-style-is-related-posts .taxonomy-category.has-heading-4-font-size > a {
    color: initial;
    text-decoration: none;
}

// Soluciones (shortcode)
.smn-soluciones-list {
  width: 100%;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .wp-block-columns.smn-soluciones-row {
        flex-wrap: wrap !important;
        background-color: var(--wp--preset--color--neutral-white);
        padding-top: 1.75em;
        border-top: 1px solid var(--wp--preset--color--neutral-30);

        @media ($above-laptop) {
            position: sticky;
            top: 100px;
        }
    }

    .smn-soluciones-col-img {
        flex: 0 0 23% !important;
        max-width: 23% !important;
    }

    .smn-soluciones-col-nombre {
        flex: 1 0 calc(77% - var(--wp--custom--layout--gap)) !important;
        max-width: calc(77% - var(--wp--custom--layout--gap)) !important;
        order: -1;
    }

    @media ($above-laptop) {
        
        .smn-soluciones-col-nombre {
            order: unset;
            flex: 0 0 47% !important;
            max-width: 47% !important;
        }
        
        .smn-soluciones-col-tipos {
            width: 30%;
            max-width: 30%;
        }

    }

    .smn-soluciones-nombre {
        margin-block: 0;
    }

    .smn-soluciones-tipos-title {
        margin-bottom: 0.5rem;
    }

}









