@use '../abstracts/mixins' as *;

.home #hero {
    position: relative;
}

#hero {
    margin-bottom: var(--wp--preset--spacing--60);
    padding-bottom: var(--wp--preset--spacing--60);

    .page-header {
        max-width: 50rem;
        margin-left: 0;
    }

    .page-description {
        margin-bottom: var(--wp--preset--spacing--30);

        .is-style-check-list {
            font-weight: 500;
        }
    }

    .wp-block-cover__image-background {
        opacity: .8;
    }

}

#masthead {
    transition: all 0.3s ease;

    &.is-position-sticky {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 10;
    }

    @media (max-width: 1300px) {
        .navbar-featured-menu {
            display: none;
        }
    }

    @media ($below-mobile) {
        .navbar-buttons {
            display: none;
        }
    }
}
body:not(.scrolled) #masthead {
    background-color: transparent !important;
}

.menu-toggle {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2rem), calc(100% - 2rem) 100%, 0 100%);

    .wp-block-button__link {
        font-size: var(--wp--preset--font-size--caption);
        display: flex;
        flex-direction: column;
        align-items: center;

        &::before {
            content: '';
            display: block;
            width: 2rem;
            height: 2rem;
            margin-bottom: 0.1rem;
            background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 6H20M4 12H20M4 18H20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center/contain;
        }
    }
}

.hero-column-first {
    align-self: center;
}

.hero-column-second {
    @media ($above-laptop) {    
        flex: 0 0 33%;
        max-width: 33%;
    }

    .is-style-card {
        padding-top: 2rem;
        
        &:before {
            content: "";
            opacity: .2;
            position: absolute;
            top: 2rem;
            z-index: 0;
            left: calc(100% - 8rem);
            height: 3rem;
            right: 0;
            background-image: url('./assets/img/decoracion-rombos.svg');
            background-repeat: no-repeat;
            background-position: center left;
            background-size: cover;
        }
    }
}