@use '../abstracts/mixins' as *;

@media ($above-tablet) {
    body {
        --wp--style--root--padding-right: 4rem;
        --wp--style--root--padding-left: 4rem;
    }  
}

body .is-layout-flow {

    & > .wp-block-image.alignright {
        margin-inline-start: 0;
    }

    & > .wp-block-image.alignleft {
        margin-inline-end: 0;
    }
} 

:where(.wp-block-group.has-background) {
    padding: var(--wp--custom--layout--gap);
}

:root :where(.wp-block-cover) {
    padding-left: var(--wp--preset--spacing--10);
    padding-right: var(--wp--preset--spacing--10);

    &.alignfull {
        padding-left: 0;
        padding-right: 0;
    }
}

.body-lines {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;

    .body-lines--inner {
        position: relative;
        z-index: 2;
        max-width: var(--wp--custom--layout--content);
        margin: 0 auto;
        padding: 1rem;
    }

    .line {
        position: absolute;
        top: 0;
        height: 100vh;
        width: 1px;
        border-right: 1px dashed var(--wp--preset--color--neutral-60);
        opacity: 0.5;
        z-index: 1;

        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                left: calc(#{($i - 1) * 25%});
            }
        }
    }
}

#primary > article > .entry-content > *:first-child {
    padding-top: var(--wp--preset--spacing--100)
}

.wp-block-cover,
.wp-block-group {
    
    &.alignfull {
        margin-block-start: 0;
    }

    &:not(.alignfull) {
        border-radius: var(--wp--preset--border-radius--05);
    }

}