@use '../abstracts/mixins' as *;

p,
:root :where(.is-layout-constrained) p {
    margin-block-start: 1em;
}

label {
    font-size: var(--wp--preset--font-size--small);
}

.wp-block-post-title a {
	text-decoration: none;
}
.has-big-font-size {
    line-height: var(--wp--custom--line-height--headings);
}

[class*="has-heading-"][class*="-font-size"] {
    line-height: var(--wp--custom--line-height--tiny);
    font-family: var(--wp--preset--font-family--font-heading);
    font-weight: 600;
}

.is-style-pill {
    display: inline-block;
    padding: 0.25em 0.75em;
    border: 1px solid;
    border-radius: 9999px;
    margin-bottom: 0;

    + * {
        margin-block-start: 0;
    }

    &:before {
        content: "";
        display: inline-block;
        margin-right: .5em;
        width: .75em;
        height: .75em;
        background-color: var(--wp--preset--color--secondary);
    }
}

.has-caption-font-size {

    &,
    * {
        font-family: var(--wp--preset--font-family--futuristic);
        text-transform: uppercase;
    }
}

.entry-meta {
    color: var(--wp--preset--color--primary-30);

    .is-style-pill {
        font-size: var(--wp--preset--font-size--caption);
    }
}

.descargable-title {
    display: block;
    font-weight: 600;
}

.descargable-description {
    font-size: var(--wp--preset--font-size--small);
    line-height: var(--wp--custom--line-height--headings);
    color: var(--wp--preset--color--neutral-30);
    margin-top: var(--wp--preset--spacing--10);
    display: block;
}

mark {
    background-color: transparent;
}

.terms-shortcode-header {
    max-width: 40rem;
}

#sfm-sidebar .sfm-menu li a, #sfm-sidebar .sfm-chapter, #sfm-sidebar .sfm-back-parent {
    text-transform: none !important;
}

@media ( $above-desktop ) {
    
    .has-display-font-size {
        font-size: 5rem;
    }

    h1,
    .has-heading-1-font-size {
        font-size: 4rem;
    }

    h2,
    .has-heading-2-font-size {
        font-size: 3rem;
    }

    h3,
    .has-heading-3-font-size {
        font-size: 2rem;
    }
    
}